In [18]:
#create a spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder \
.master("local[*]") \
.appName("spark_on_docker") \
.config("spark.jars", "/home/jovyan/postgresql-42.2.5.jar") \
.getOrCreate()

In [ ]:
#Download a README.md file from docker-stacks to test Spark
!wget -q https://github.com/jupyter/docker-stacks/blob/d990a62010aededcda836196c4b04efece7f838f/README.md

In [ ]:
#read the file and count how many rows have the word Jupyter
textFile = spark.read.text("README.md")
rows_with_jupyter = textFile.filter(textFile.value.contains("Jupyter")).count()

print("There's %d rows with the word Jupyter."%rows_with_jupyter)

In [20]:
#print the session status
spark

In [13]:
spark.stop()

In [8]:
df = spark.read \
    .format('jdbc') \
    .option('url', 'jdbc:postgresql://172.20.0.2/cnn') \
    .option('dbtable', 'ccy_crypto_stage') \
    .option('user', 'postgres') \
    .option('password', '') \
    .option('driver', 'org.postgresql.Driver') \
    .load()

df.printSchema()

root
 |-- slug: string (nullable = true)
 |-- symbol: string (nullable = true)
 |-- name: string (nullable = true)
 |-- date: date (nullable = true)
 |-- ranknow: integer (nullable = true)
 |-- open: double (nullable = true)
 |-- high: double (nullable = true)
 |-- low: double (nullable = true)
 |-- close: double (nullable = true)
 |-- volume: double (nullable = true)
 |-- market: double (nullable = true)
 |-- close_ratio: double (nullable = true)
 |-- spread: double (nullable = true)

In [9]:
df.columns

['slug',
 'symbol',
 'name',
 'date',
 'ranknow',
 'open',
 'high',
 'low',
 'close',
 'volume',
 'market',
 'close_ratio',
 'spread']

In [10]:
print(df.count())

942297

In [12]:
df.select('close').describe().show()

+-------+------------------+
|summary|             close|
+-------+------------------+
|  count|            942297|
|   mean|346.10175115318617|
| stddev| 13098.22308999982|
|    min|           2.0E-10|
|    max|         2300740.0|
+-------+------------------+

In [19]:
df = spark.read \
    .format('jdbc') \
    .option('url', 'jdbc:postgresql://172.20.0.2/cnn') \
    .option('dbtable', 'information_schema.tables') \
    .option('user', 'postgres') \
    .option('password', '') \
    .option('driver', 'org.postgresql.Driver') \
    .load() \
    .filter("table_schema = 'public'").show()

+-------------+------------+----------------+----------+----------------------------+--------------------+-------------------------+------------------------+----------------------+------------------+--------+-------------+
|table_catalog|table_schema|      table_name|table_type|self_referencing_column_name|reference_generation|user_defined_type_catalog|user_defined_type_schema|user_defined_type_name|is_insertable_into|is_typed|commit_action|
+-------------+------------+----------------+----------+----------------------------+--------------------+-------------------------+------------------------+----------------------+------------------+--------+-------------+
|          cnn|      public|         ccy_map|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
|          cnn|      public| ccy_rates_stage|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
|          cnn|      public|ccy_crypto_stage|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
|          cnn|      public|     dim_ccy_pen|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
|          cnn|      public|     dim_ccy_pkr|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
|          cnn|      public|     dim_ccy_uyi|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
|          cnn|      public|     dim_ccy_php|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
|          cnn|      public|     dim_ccy_pln|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
|          cnn|      public|     dim_ccy_qar|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
|          cnn|      public|     dim_ccy_omr|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
|          cnn|      public|     dim_ccy_rub|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
|          cnn|      public|     dim_ccy_sar|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
|          cnn|      public|     dim_ccy_sgd|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
|          cnn|      public|     dim_ccy_zar|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
|          cnn|      public|            fact|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
|          cnn|      public|     dim_ccy_dzd|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
|          cnn|      public|     dim_ccy_aud|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
|          cnn|      public|     dim_ccy_bhd|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
|          cnn|      public|     dim_ccy_ves|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
|          cnn|      public|     dim_ccy_bwp|BASE TABLE|                        null|                null|                     null|                    null|                  null|               YES|      NO|         null|
+-------------+------------+----------------+----------+----------------------------+--------------------+-------------------------+------------------------+----------------------+------------------+--------+-------------+
only showing top 20 rows